/* GLOBAL */

@font-face {
    font-family: "Rubik";
    src: url(fonts/RubikDirt-Regular.ttf);
}

@font-face {
    font-family: "SpecialElite";
    src: url(fonts/SpecialElite-Regular.ttf);
}

body{
    margin: 0;
}

.links {
    padding-top: 0px;
    padding-bottom: 0px;
}

.links ul{
    display: flex;
    gap: 40px;
    list-style: none;
}

.links ul a {
    text-decoration: none;
    /* color: seagreen; */
    color: #98fb98;
    text-transform: uppercase;
    font-size: 17px;
    transition: all 0.5s ease-in-out;
    font-family: "SpecialElite";
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    line-height: 10px;
}

.links ul a:hover{
    color: skyblue;
    font-size: 20px;
}

.links ul li .current-page{
    color: gold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    font-size: 20px;
}

header{
    background-color: rgba(0, 0, 0, 0.3);
}

header h1 {
    font-size: 100px;
    letter-spacing: 5px;
    font-family: "Rubik";
    color: #D99151;
    margin: 0px;
    padding-top: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-bottom: 0px;
}

header h3 {
    font-size: 20px;
    font-family: "SpecialElite";
    /* color: skyblue; */
}

.hidden{
    display: none;
}

/* INDEX */


#index-body{
    background-color: darkolivegreen;
    /* background-image: url(images/a-wild-ride-bg.jpeg); */
    background-image: url(https://images.pexels.com/photos/31000819/pexels-photo-31000819.jpeg);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    margin: 0;
}

#index-body .links{
    display: flex;
    justify-content: center;
    text-align: center;
}

.quote-section{
    margin-top: 150px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.fade-out{
    opacity: 0;
}

.quote-text{
    font-size: 35px;
    font-family: "SpecialElite";
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.quote-author{
    font-size: 20px;
    font-style: italic;
    font-family: "SpecialElite";
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Savannah */

#savannah-body{
    background-color: darkolivegreen;
    /* background-image: url(images/a-wild-ride-bg.jpeg); */
    background-image: url(https://images.pexels.com/photos/127909/pexels-photo-127909.jpeg);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#savannah-body header{
    text-align: center;
    justify-content: center;
    margin: 0;
}

#savannah-body .links{
    display: flex;
    justify-content: center;
    text-align: center;
}

.savannah-animals ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 50px 100px;
    flex-wrap: wrap;
    padding: 0;
}

.savannah-animals ul a{
    text-decoration: none;
}

.savannah-animals ul h3{
    text-align: center;
    font-family: "SpecialElite";
    color:azure;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.savannah-animals ul li:hover h3 {
    color: gold;
    transition: all ease-in-out 0.5s;
}

.savannah-animals ul li img{
    height: 200px;
    transition: all ease-in-out 0.7s;
    border-radius: 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.savannah-animals ul li img:hover{
    height: 225px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}


/* Rainforests */

#rainforests-body{
    background-color: darkolivegreen;
    /* background-image: url(images/a-wild-ride-bg.jpeg); */
    background-image: url(https://images.pexels.com/photos/5068057/pexels-photo-5068057.jpeg);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#rainforests-body header{
    text-align: center;
    justify-content: center;
    margin: 0;
}

#rainforests-body .links{
    display: flex;
    justify-content: center;
    text-align: center;
}

.rainforest-animals ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 50px 100px;
    flex-wrap: wrap;
    padding: 0;
}

.rainforest-animals ul a{
    text-decoration: none;
}

.rainforest-animals ul h3{
    text-align: center;
    font-family: "SpecialElite";
    color:azure;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.rainforest-animals ul li:hover h3 {
    color: greenyellow;
    transition: all ease-in-out 0.5s;
}

.rainforest-animals ul li img{
    height: 200px;
    transition: all ease-in-out 0.7s;
    border-radius: 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.rainforest-animals ul li img:hover{
    height: 225px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}


/* The Arctic */


#arctic-body{
    background-color: darkolivegreen;
    /* background-image: url(images/a-wild-ride-bg.jpeg); */
    background-image: url(https://images.pexels.com/photos/29612758/pexels-photo-29612758.jpeg);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#arctic-body header{
    text-align: center;
    justify-content: center;
    margin: 0;
}

#arctic-body .links{
    display: flex;
    justify-content: center;
    text-align: center;
}

.arctic-animals ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 50px 100px;
    flex-wrap: wrap;
    padding: 0;
}

.arctic-animals ul a{
    text-decoration: none;
}

.arctic-animals ul h3{
    text-align: center;
    font-family: "SpecialElite";
    color:azure;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.arctic-animals ul li:hover h3 {
    color:cyan;
    transition: all ease-in-out 0.5s;
}

.arctic-animals ul li img{
    height: 200px;
    transition: all ease-in-out 0.7s;
    border-radius: 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.arctic-animals ul li img:hover{
    height: 225px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}


/* Aquatic */



#aquatic-body{
    background-color: darkolivegreen;
    /* background-image: url(images/a-wild-ride-bg.jpeg); */
    background-image: url(https://images.pexels.com/photos/1350197/pexels-photo-1350197.jpeg);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#aquatic-body header{
    text-align: center;
    justify-content: center;
    margin: 0;
}

#aquatic-body .links{
    display: flex;
    justify-content: center;
    text-align: center;
}

.aquatic-animals ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 50px 100px;
    flex-wrap: wrap;
    padding: 0;
}

.aquatic-animals ul a{
    text-decoration: none;
}

.aquatic-animals ul h3{
    text-align: center;
    font-family: "SpecialElite";
    color:azure;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.aquatic-animals ul li:hover h3 {
    color:#7FFFD4;
    transition: all ease-in-out 0.5s;
}

.aquatic-animals ul li img{
    height: 200px;
    transition: all ease-in-out 0.7s;
    border-radius: 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.aquatic-animals ul li img:hover{
    height: 225px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}


/* Donations */

#donations-body{
    background-color: darkolivegreen;
    /* background-image: url(images/a-wild-ride-bg.jpeg); */
    /* background-image: url(https://images.pexels.com/photos/1350197/pexels-photo-1350197.jpeg); */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#donations-body header{
    text-align: center;
    justify-content: center;
    margin: 0;
}

#donations-body .links{
    display: flex;
    justify-content: center;
    text-align: center;
}

.donation-form{
    text-align: center;
    padding: 40px;
    line-height: 25px;
}

.donation-form label{
    font-family: "SpecialElite";
    font-size: 20px;
}

.donation-form input{
    text-align: center;
    margin-bottom: 20px;
}

.donation-form input[type="checkbox"]{
    accent-color: #D99151;
}

.donation-form #submit-button{
    border-radius: 10px;
    height: 30px;
    background-color: #98fb98;
    color: #D99151;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
}

.donation-form #submit-button:hover{
    background-color: #D99151;
    color: #98fb98;
}

.donation-form .biomes label{
    font-size: 17px;
}

.thanks-message{
    text-align: center;
    padding-top: 70px;
    font-family: "SpecialElite";
    line-height: 70px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 29px;
}