/* GLOBAL */

@font-face {
    font-family: "Rubik";
    src: url(fonts/RubikDirt-Regular.ttf);
}

@font-face {
    font-family: "SpecialElite";
    src: url(fonts/SpecialElite-Regular.ttf);
}

.links {
    padding-top: 10px;
}

.links ul{
    display: flex;
    gap: 40px;
    list-style: none;
}

.links ul a {
    text-decoration: none;
    /* color: seagreen; */
    color: #98fb98;
    text-transform: uppercase;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
    font-family: "SpecialElite";
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    line-height: 40px;
}

.links ul a:hover{
    color: skyblue;
    font-size: 30px;
}

.links ul li .current-page{
    color: gold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    font-size: 25px;
}

header h1 {
    font-size: 90px;
    letter-spacing: 5px;
    font-family: "Rubik";
    color: #D99151;
    margin: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

header h3 {
    font-size: 20px;
    font-family: "SpecialElite";
    /* color: skyblue; */
}


/* INDEX */


#index-body{
    background-color: darkolivegreen;
    /* background-image: url(images/a-wild-ride-bg.jpeg); */
    background-image: url(https://images.pexels.com/photos/31000819/pexels-photo-31000819.jpeg);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0;
}


/* Savannah */

#savannah-body{
    background-color: darkolivegreen;
    /* background-image: url(images/a-wild-ride-bg.jpeg); */
    background-image: url(https://images.pexels.com/photos/31000819/pexels-photo-31000819.jpeg);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}

#savannah-body header{
    text-align: center;
    justify-content: center;
    margin: 0;
}

#savannah-body .links{
    display: flex;
    justify-content: center;
    text-align: center;
}

.savannah-animals ul {
    display: flex;
    justify-content: center;
}

.savannah-animals ul li img{
    width: 100px;
}